<a href="https://colab.research.google.com/github/edoardochiarotti/class_datascience/blob/main/2024/00_Python-Basics/00_Python-Basics_2_List-Tuple-Dictionary.ipynb" target="_blank" rel="noopener"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics: collection of elements

<img src='https://www.agent-x.com.au/wp-content/uploads/2011/06/Perfect-Programmer-dfe194b-e8d3b11-b960bd5.jpg' width="400">

Source: [Agent-X Comics - Perfect Programming](https://www.agent-x.com.au/comic/perfect-programming/)

## Contents

In our first notebook, we have used variables to store data as "single" element. But how can we store several elements, e.g, several numbers, in the same variable? We can use the objects of this notebook: list, tuples, and dictionaries!

- [Lists and Tuples](#collection)
  - [Lists](#Lists)
  - [Tuples](#Tuples)
  - [Conversion](#Conversion)
  - [Indexing](#Indexing)
  - [Slicing](#Slicing)
  - [Membership operators](#membership-operators)
  - [Mutability](#Mutability)
  - [Methods for lists and tuples](#methods)
- [Dictionary](#Dictionary)
   - [What is a dictionary?](#dico-def)
   - [Indexing dictionaries](#dico-index)
   - [Dictionary methods, built-in functions and operations](#dico-methods)
      - [Extracting keys and values](#dico-extract)
      - [Slice and remove elements](#dico-slice)
      - [Get and update one value](#dico-get)
      - [Check if a key belongs to a dictionary](#dico-check)
   - [Merging dictionaries](#dico-merge)

## Lists and Tuples <a name="collection"></a>

We will now explore two important data types in Python: lists and tuples. They are both sequences of objects. Just like a string is a sequence (that is, an ordered collection) of characters, lists and tuples are sequences of arbitrary objects, called items or elements. They are a way to make a single object that contains many other objects.

### Lists <a name="Lists"></a>

**Lists** are used to store multiple items in a single variable. We create lists by putting Python values or expressions inside **square brackets**, separated by **commas**:

In [1]:
my_list = [2, 3.7, 4+5j, 'dog']
print(type(my_list),my_list)

<class 'list'> [2, 3.7, (4+5j), 'dog']

Note that the type of a list is... a `list`! Also, any Python expression can be part of a list, including another list:

In [2]:
my_list2 = [2, 3.7, 4+5j, 'dog', [0,'Hi!']]
print(my_list2)

[2, 3.7, (4+5j), 'dog', [0, 'Hi!']]

You can also perform operations inside a list. If so, the operations get evaluated:

In [3]:
my_list3 = [8+9, 8-9, 8*9]
print(my_list3)

[17, -1, 72]

Now what happens when you perform operations on lists? Let's find out!

Operators on lists behave much like operators on strings. The `+` operator on lists means list concatenation.

In [4]:
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

The * operator on lists means list replication and concatenation.

In [5]:
[1,2,3]*2

[1, 2, 3, 1, 2, 3]

### Tuples <a name="Tuples"></a>

As lists, **tuples** are used to store multiple items in a single variable. We create tuples by putting Python values or expressions inside **parenthesis**, separated by **commas**:

In [6]:
my_tuple = (2, 3.7, 4+5j, 'dog', (0,'Hi!'))
print(type(my_tuple),my_tuple)

<class 'tuple'> (2, 3.7, (4+5j), 'dog', (0, 'Hi!'))

The type of a tuple is, you guessed it, a `tuple`. As with lists, any Python expression can be part of a tuple, including another tuple, and you can also perform operations inside tuples:

In [7]:
(8+9, 8-9, 8*9)

(17, -1, 72)

Just be careful when you create a tuple with a single item: you need to include a comma after the item:

In [8]:
my_tuple = (0,)
not_a_tuple = (0) # this is just the number 0 (normal use of parantheses)

type(my_tuple), type(not_a_tuple)

(tuple, int)

Operators on tuples work as for lists, i.e., you can concatenate tuples with the `+` and `*`operators:

In [9]:
(1,2,3)+(4,5,6)

(1, 2, 3, 4, 5, 6)

In [10]:
(1,2,3)*2

(1, 2, 3, 1, 2, 3)

### Conversion <a name="Conversion"></a>

You can convert `tuple` into `list` using the function `list()`:

In [11]:
tuple_to_convert = (0,1,2,3)
converted_list = list(tuple_to_convert)

converted_list

[0, 1, 2, 3]

Similarly, you can convert `list` into `tuple` using the function `tuple()`:

In [12]:
list_to_convert = [0,1,2,3]
converted_tuple = tuple(list_to_convert)

converted_tuple

(0, 1, 2, 3)

### Indexing <a name="Indexing"></a>

Lists and tuples are **ordered**, meaning that the items have a defined order. Thus, we can access a given item in a list or a tuple. To do so, we use **brackets**. We first write the name of our list/tuple and then enclosed in square brackets we write the location (**index**) of the desired element:

In [13]:
list_index = [2, 3.7, 4+5j, 'dog', [0,'Hi!']]

list_index[1]

3.7

Wait, what?! We asked for the first element and we got the second element of our list. Does Python not know how to count? Don't worry, this behavior happens because <span style='color:red'> **indexing in Python starts at zero** </span>. This is very important. (Historical note: [Why Python uses 0-based indexing](http://python-history.blogspot.com/2013/10/why-python-uses-0-based-indexing.html).)

In [14]:
print(list_index[0])
print(list_index[4])

2
[0, 'Hi!']

Much better! 

In our second example, we accessed the list that was within our list, i.e., a sublist. A list that contain another list is called a **nested list**. The sublist can also contain another list (i.e., a subsublist), and so on. We can index a sublist by adding another set of brackets:

In [15]:
nested_list = [[1,2,3],[4,5,6]]

print(nested_list[0][1])
print(nested_list[1][0])

2
4

The same is true for tuples: you can index nested tuples with multiple set of brackets:

In [16]:
nested_tuple = ((1,2,3),(4,5,6))

print(nested_tuple[0][2])
print(nested_tuple[1][1])

3
5

Ok, now we know the basics of indexing. An amazing feature allowed by Python is **negative indexing**. This just means we start indexing from the last entry, starting at `-1`:

In [17]:
list_index2 = [2, 3.7, 4+5j, 'dog']

list_index2[-1]

'dog'

Indexing in reverse is sometimes very convenient. Let's recap the forward and backward indices for lists and tuples:

|Element|1|2|3|4|5|6|7|8|9|10|
|------|-:|-:|-:|-:|-:|-:|-:|-:|-:|-:|
|Forward indices|0|1|2|3|4|5|6|7|8|9|
|Reverse indices|-10|-9|-8|-7|-6|-5|-4|-3|-2|-1|

In [18]:
tuple_index = (1,2,3,4,5,6,7,8,9,10)

print(tuple_index[7])
print(tuple_index[-3])

8
8

### Slicing <a name="Slicing"></a>

With indexing, we have accessed a given element. How to **slice** a list or a tuple, i.e., extract several elements? We can use semicolon `[:]` for that:

In [19]:
slicing_list = [0,1,2,3,4,5,6,7,8,9]

slicing_list[0:4]

[0, 1, 2, 3]

In the above, we extracted a list with elements from `0` to `3`, despite writing `[0:4]`. In other words, the last element (`4`) is not included. 

More generally, when using colon indexing `[i:j]`, we get items `i` through `j-1`.  I.e., the range is **inclusive of the first index and exclusive of the last**. If the slice's final index is larger than the length of the sequence, the slice ends at the last element. Thus, be careful when you slice lists/tuples.

In [20]:
slicing_list[3:100]

[3, 4, 5, 6, 7, 8, 9]

As before, you can use negative indices:

In [21]:
slicing_list[3:-2]

[3, 4, 5, 6, 7]

When `i` is larger than `j` when using colon indexing `[i:j]` (in terms of indices), then we get an empty list:

In [22]:
slicing_list[7:-5]

[]

We have so far extracted consecutive elements. What if you only want even numbers from our list `[0,1,2,3,4,5,6,7,8,9]`? Well then, you can specify a **stride** using a second colon:

In [23]:
slicing_list[0::2]

[0, 2, 4, 6, 8]

In the above example, `0` is the start index and `2` defines the stride, i.e., the step. When the start is not defined, the default is zero:

In [24]:
slicing_list[::2]   #no need to specify "0" when we want to start at the first index

[0, 2, 4, 6, 8]

Suppose we now want the odd numbers, how do we do it? Simple, we just modify the start value of our stride!

In [25]:
slicing_list[1::2]

[1, 3, 5, 7, 9]

And if we want the multiple of three? We modify the stride:

In [26]:
slicing_list[::3]

[0, 3, 6, 9]

What about the value in-between the two colons? Until now, we left it undefined. It is actually the end index:

In [27]:
slicing_list[:6:2]

[0, 2, 4]

Let's recap how indexing and slicing work. The general structure is: `[start:end:stride]`

* If there are no colons, a single element is returned.
* If there are any colons, we are slicing the list, and a list is returned.
* If there is one colon, `stride` is assumed to be 1.
* If `start` is not specified, it is assumed to be zero.
* If `end` is not specified, it is assumed you want the entire list.
* If `stride` is not specified, it is assumed to be 1.

Now let's do some crazy slicing! Imagine we want to reverse a list/tuple. Can you think of a way to do this operation using slicing? Well, we can use a negative stride!

In [28]:
slicing_list[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Note that the meaning of the "start" and "end" index is a bit ambiguous when you have a negative stride. When the stride is negative, we still slice from start to end, but the order is reversed.

In [29]:
slicing_list[-1:6:-2]

[9, 7]

Take some time to practice slicing since this is a very important concept :)

### Membership operators <a name="membership-operators"></a>

**Membership operators** are used to test if a sequence is present in an object such as a list or a tuple. The two membership operators are:

|English|operator|
|:-------|:----------:|
|is a member of | `in`|
|is not a member of | `not in`|

The result of the operator is `True` or `False`. Let's have a look at some examples:

In [30]:
my_list = [2, 3.7, 4+5j, 'dog', [0,'Hi!']]

2 in my_list

True

Indeed, `2` is in our list, it is the first element. What about `'Hi!`?

In [31]:
'Hi' in my_list

False

Why `'Hi!'` is not in our list? Well, it is part of our sublist `[0, 'Hi!']` but not of our "main" list `my_list`. `my_list` actually contains five elements, and `'Hi!'` is not one of them.

Let's look at an example with a tuple to make sure we master membership operators:

In [32]:
my_tuple = (2, 3.7, 4+5j, 'dog', [0,'Hi!'])

'cat' not in my_tuple

True

That's it for now, we'll use more membership operators later...

### Mutability <a name="Mutability"></a>

So far it seems `list` and `tuple` are very similar. So why would there be two different types if they behave exactly the same? Well, as you might guess, they do not. The important different between `list` and `tuple` are their mutability. 

Lists are **mutable** objects: you can change their values without creating a new list:

In [33]:
mutable_list = [0, 1, 2, 3, 4, 5]
mutable_list[3] = 'two'

mutable_list

[0, 1, 2, 'two', 4, 5]

`list` is the only data type we have encountered so far that is mutable. In other words, `int`, `float`, `complex`, `str`, and `bool` are **immutable**. Immutable means that once the variables are created, their values cannot be changed. If we do change the value the variable gets a new place in memory. `tuple` is also an immutable object. Let's try the same operation we performed above on our list and wee what happens:

In [34]:
immutable_tuple = (0, 1, 2, 3, 4, 5)
immutable_tuple[3] = 'two'

immutable_tuple

TypeError: 'tuple' object does not support item assignment

We get an error message and rightfully so: since `tuple` is immutable, it does not support item assignment.

We can use the `id()` function to understand a bit more the mutability property. This function tells us where in memory the variable is stored. Let's try:

In [35]:
immutable_int = 89
print(id(immutable_int))

immutable_int = 90
print(id(immutable_int))

140706699124264
140706699124296

See, when we change the value of `immutable_int`, we didn't actually change its value; we made a new variable! Lists behave differently:

In [36]:
mutable_list = [0, 1, 2, 3, 4, 5]
print(id(mutable_list))

mutable_list[1] = 'one'
print(id(mutable_list))

1848262466560
1848262466560

It is still the same list even though we changed the value of the second element.

At this point you may wonder: why do we care? Well, suppose that we have a list, which we wish to keep, and that we want to make a copy of this list with one element that differs. What happens then?

In [37]:
mutable_list = [0, 1, 2, 3, 4, 5]
mutable_list_2 = mutable_list     # copy of my_list?
mutable_list_2[0] = 'zero'

print(mutable_list, mutable_list_2)

['zero', 1, 2, 3, 4, 5] ['zero', 1, 2, 3, 4, 5]

Disaster! We lost `mutable_list`!

What happened? Well, assigning a list to a variable does not copy the list in a new object, it just creates a new reference to the same object. Thus, when we modified the first element of `mutable_list_2`, we also modified `mutable_list`! This behavior can lead to nasty bugs that will bite you!

Is there a way to solve this issue? Of course there is: we can use slicing! If both the slice's starting and ending indices of a list are left out, the slice is a copy of the entire list in a new hunk of memory.

In [38]:
mutable_list = [0, 1, 2, 3, 4, 5]
mutable_list_2 = mutable_list[:]
mutable_list_2[0] = 'zero'

print(mutable_list, mutable_list_2)

[0, 1, 2, 3, 4, 5] ['zero', 1, 2, 3, 4, 5]

What a relief!

We have seen that tuples and lists are very similar, differing essentially only in mutability (actually the differences are more profound, see for instance a discussion here: [Tuples, Aaron Meurer's blog post](http://www.asmeurer.com/blog/posts/tuples/)).  

So you may ask: "When should I use a tuple and when should I use a list?". Here is the advice of [Justin Bois](http://bois.caltech.edu/), whose [course](http://justinbois.github.io/bootcamp/2022_epfl/) heavily influenced this notebook:

"<span style="color: dodgerblue; font-weight: bold;">
Always use tuples instead of lists unless you need mutability.
</span>
This keeps you out of trouble. It is very easy to inadvertently change one list, and then another list (that is actually the same, but with a different variable name) gets mangled. That said, mutability is often very useful, so you can use it to make your list and adjust it as you need. However, after you have finalized your list, you should convert it to a tuple so it cannot get mangled."

### Methods for lists and tuples <a name="methods"></a>

We have previously performed operations on `list`. Using slicing, we have extracted elements of lists, we copied a list with `[:]`, and we even reversed a list with `[::-1]`.

What if we wish to add an element at the end of a list? Or better, insert or remove an element at a given position. In this case, we can use built-in functions. 

We already mentioned that lists are objects. <span style="color: dodgerblue; font-weight: bold;">
Objects contain: 1) data; 2) functions that can operate on the data. The functions inside an object are called methods.
</span> 

Here are the built-in methods you can use on lists:

|Method|Description|
|:-------|:----------|
|`append()` | Adds an element at the end of the list|
|`clear()` | Removes all the elements from the list|
|`copy()` | Returns a copy of the list|
|`count()` | Returns the number of elements with the specified value|
|`extend()` | Add the elements of a list (or any iterable), to the end of the current list|
|`index()` | Returns the index of the first element with the specified value|
|`insert()` | Adds an element at the specified position|
|`pop()` | Removes the element at the specified position|
|`remove()` | Removes the item with the specified value|
|`reverse()` | Reverses the order of the list|
|`sort()` | Sorts the list|


Another useful function (that is not a method), is the `len()` function. It returns the total number of items in a list. Let's try it!

In [39]:
my_list = [1,2,3,4,5,6,7]
len(my_list)

7

We have indeed seven elements in our list. Now let's count how many times does the value `3` appear in our list:

In [40]:
my_list.count(3)

1

As expected, we count one occurrence of the value `3`. But let's pause a minute. Did you notice the syntax? We first specify our list, then `.`, and finally the `count()` function. This is the structure for method. Now let's extract the index of the first element whose value is `3`. Recall that indexing starts at `0`.

In [41]:
my_list.index(3)

2

Let's keep going by adding elements and list of elements to our list.

In [42]:
my_list.append(8)

my_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [43]:
my_list_2 = [9,10]
my_list.extend(my_list_2)

my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Now, let's do a bit of magic: we will make the element `4` disappear!

In [44]:
my_list.remove(4)
my_list

[1, 2, 3, 5, 6, 7, 8, 9, 10]

Woow! Let's make it appear again. Again, be careful, indexing starts at `0`:

In [45]:
my_list.insert(3,4) #insert the value 4 at the index 3 in our list
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Ta-da! Instead of making a value disappear, we can also remove an element at a given position:

In [46]:
my_list.pop(8)
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 10]

Let's insert the ninth element again:

In [47]:
my_list.insert(8,9) #insert the value 8 at the index 9 in our list
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Ok, all good! Now we can reverse sort our list:

In [48]:
my_list.reverse()
my_list

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

And sort it again:

In [49]:
my_list.sort() #Alternatively, we could reverse it again!
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Finally, let's remove all the elements of our list:

In [50]:
my_list.clear()
my_list

[]

`clear` creates an empty list. In other words, our list was not totally erased from existence, only its values were deleted.

We have performed some neat operations on lists. What about tuples? The `count()`, `index()`, and `len()` works the same with `tuple`. What about the others? Well, unfortunately they do not. Indeed we have seen before that we cannot modify a tuple or a given element of a tuple, because - let's repeat it, tuples are immutable. So what can you do when you actually want to update your tuple? Do you have to create a new one? No, there is a way! Remember that you can convert a tuple into a list using the function `list()` and then convert back your list into a tuple using the function `tuple()`:

In [51]:
my_tuple = (0,1,2,3)
my_list = list(my_tuple)
my_list[1]='one'
my_tuple = tuple(my_list)

my_tuple

(0, 'one', 2, 3)

By doing the conversion to a `list`, you can use all the methods that are working on lists, and then convert back to a `tuple`!

In addition, we can do other cool things with tuples. One is called **unpacking**, and consists in a multiple assignment statement. Let's see an example:

In [52]:
unpacking_tuple = (1, 2, 3)
a, b, c = unpacking_tuple  

print(a, b, c)

1 2 3

This is useful when we want to return more than one value from a function and further using the values as stored in different variables. 

When elements of a tuple are used as input of a function, there is a more efficient to unpack the tupple way using the **unpacking operator** `*` before the tuple. This is referred to as a "splat".

In [53]:
print(unpacking_tuple)
print(*unpacking_tuple)

(1, 2, 3)
1 2 3

## Dictionary <a name="Dictionary"></a>

### What is a dictionary? <a name="dico-def"></a>

We have so far seen two collection data types: lists and tuples. In both cases, the sequence of data was referenced by the index number. For example, say we have a tuple gathering the degree of morality of Florence, Jordane, and Julia:

In [54]:
degree_morality = (0.3, 0.2, 0.5) 

print(degree_morality[0])
print(degree_morality[1])
print(degree_morality[2])

0.3
0.2
0.5

Instead of individuals "0", "1", "2", we might want to refer to the name of our individuals name, i.e., we would like to do something like `degree_morality['Florence']` instead of `degree_morality[0]`. This is possible by using a **dictionary**. Language dictionaries associate a word to its definition. A dictionary in Python is very similar: it maps a **key**, e.g., `'Florence'` with an associated **value**, e.g., `0.3`. 

We create dictionaries using curly braces `{}`. The syntax is then: `{key_1: value_1, key_2: value_2, ...}`:

In [55]:
dictionary_morality = {
    'Florence': 0.3,     # You do not need to write each entry on separate lines, but it helps clarity
    'Jordane': 0.2,      # Disclaimer: the names and values are fictitious. No identification with actual persons should be inferred.
    'Julia': 0.5}
print(type(dictionary_morality), dictionary_morality)

<class 'dict'> {'Florence': 0.3, 'Jordane': 0.2, 'Julia': 0.5}

Instead of curly braces, we can use the built-in `dict()` function to create dictionaries. One way is to use as argument a tuple of 2-tuples, each one containing a key-value pair:

In [56]:
dict((('Florence',0.3), ('Jordane', 0.2), ('Julia', 0.5)))    # 1st parenthesis for dict() function, 2nd parenthesis outer tuple

{'Florence': 0.3, 'Jordane': 0.2, 'Julia': 0.5}

Another possibility is to make a dictionary with keyword arguments - kwargs:

In [57]:
dict(Florence=0.3, Jordane=0.2, Julia=0.5)      # note that you do not need to write strings

{'Florence': 0.3, 'Jordane': 0.2, 'Julia': 0.5}

In this example, we used strings as keys, which is the most common case, but any *immutable* object (e.g., `int`, `float`, `tuple`) can serve as key while the values can be of any type. You can even mix different type of keys and values in the same dictionary:

In [58]:
{'string key': 0, 34: 87.2, 7.9: 'string value', ('tuple','key'): ['list', 'value']}

{'string key': 0,
 34: 87.2,
 7.9: 'string value',
 ('tuple', 'key'): ['list', 'value']}

However, you cannot use *mutable* object as key:

In [59]:
{'immutable is ok': 1, ['mutable', 'key', 'not', 'ok']: 0}

TypeError: unhashable type: 'list'

In addition, the key shall be **unique**! Reusing the same key twice will overwrite the previous value stored:

In [60]:
{'Florence': 0.3, 'Florence': 0.2}

{'Florence': 0.2}

### Indexing dictionaries <a name="dico-index"></a>

The whole point of creating a dictionary was to extract a value using a key instead of an index number:

In [61]:
dictionary_morality['Julia']

0.5

That's very convenient, isn't it? Even better, since dictionaries are *mutable* objects, we can add new entries to our dictionary:

In [62]:
dictionary_morality['Ale']=0.5
dictionary_morality

{'Florence': 0.3, 'Jordane': 0.2, 'Julia': 0.5, 'Ale': 0.5}

Oups, I made a mistake while entering Ale's degree of morality. Luckily, we can change an entry:

In [63]:
dictionary_morality['Ale']=0.4
dictionary_morality

{'Florence': 0.3, 'Jordane': 0.2, 'Julia': 0.5, 'Ale': 0.4}

### Dictionary methods, built-in functions and operations <a name="dico-methods"></a>

We have previously seen some methods for lists. Remember that a method is a function that is available for a given object because of the object's type. As everything in Python, dictionaries are objects and thus have built-in methods. Here are these methods:

|Method|Description|
|:-------|:----------|
|`d.clear()` | Removes all the elements from dictionary `d`|
|`d.copy()` | Returns a copy of `d`|
|`d.fromkeys(keys, value)` | Returns a dictionary with the specified keys and value (optional)|
|`d.get(key, default = None)` | Returns the value associated with `key`. The second argument specifies what should be returned if the key is absent|
|`d.items()` | Returns a list containing a tuple for each key value pair|
|`d.keys()` | Returns a list containing the dictionary's keys|
|`d.pop(key)` | Removes the element with the specified `key`|
|`d.popitem()` | Removes the last inserted key-value pair|
|`d.setdefault(key, value)` | Returns the value of the specified `key`. If the key does not exist: insert the key, with the specified `value` (optional)|
|`d.update({key: value})` | Updates `d` with the specified key-value pairs|
|`d.values()` | Returns a list of all the values in `d`|

In addition, you can apply built-in functions to dictionaries such as:

|Function|Description|
|:-------|:----------|
|`len(d)` | Gives the number of entries of the dictionary `d`|
|`list(d)` | Extract a list of the keys of `d`|
|`del d[key]` | Deletes entry `key` from `d`|

Let's try some of these.

#### Extracting keys and values <a name="dico-extract"></a>

First, let's extract the keys of our dictionary. We can either use the method `d.keys()` or the function `list()`:

In [64]:
dictionary_morality.keys()

dict_keys(['Florence', 'Jordane', 'Julia', 'Ale'])

In [65]:
list(dictionary_morality)

['Florence', 'Jordane', 'Julia', 'Ale']

Notice the difference? `list()`actually returns a `list` but `d.keys()` creates a `dict_keys` object. Such object allows to view keys and iterate over them, but we cannot index it directly. Ok, now let's extract the values of our dictionary:

In [66]:
dictionary_morality.values()

dict_values([0.3, 0.2, 0.5, 0.4])

Similarly than `dict.keys()` returns a `dict_keys` object, `dict.values()` returns a `dict_values` object. In case, as for `tuple`, you can convert your `dict_values` object to a `list` using `list()`:

In [67]:
list(dictionary_morality.values())

[0.3, 0.2, 0.5, 0.4]

If we want both keys and values, we can use `d.items()`

In [68]:
dictionary_morality.items()

dict_items([('Florence', 0.3), ('Jordane', 0.2), ('Julia', 0.5), ('Ale', 0.4)])

#### Slice and remove elements <a name="dico-slice"></a>

The `items()` method is also quite useful to slice a dictionary. For example, say we want to extract the entries for Florence and Jordane. To do so, we can use the `islice()` function of the `itertools` module. We will discuss modules later, but for now you can remember that a module is a file containing a set of functions and that we need to `import` a module if we want to use the functions that it contains. The `itertools` module specifically contains functions creating iterators for efficient looping - check the [documentation](https://docs.python.org/3/library/itertools.html)!

In [69]:
import itertools

dict(itertools.islice(dictionary_morality.items(), 2))

{'Florence': 0.3, 'Jordane': 0.2}

Slicing allowed us to extract a subset of our dictionary. If we want to remove one element, we can use `d.pop()`. For instance, let's remove Jordane from our dictionary:

In [70]:
dictionary_morality.pop('Jordane')
dictionary_morality

{'Florence': 0.3, 'Julia': 0.5, 'Ale': 0.4}

Good bye Jordane, you will be missed.

#### Get and update one value <a name="dico-get"></a>

Let's first try `d.get()`:

In [71]:
dictionary_morality.get('Florence')

0.3

Seems like `dictionary_morality.get('Florence')` is the same as `dictionary_morality['Florence']`, and indeed for existing keys, both operations return the value associated with the key. However, what about when the key does not exist? Let's try with our deleted entry `'Jordane'`

In [72]:
dictionary_morality.get('Jordane')

There was no error (there would be if we did `dictionary_morality['Jordane']`), and we got `None`. We can also specify a default value:

In [73]:
dictionary_morality.get('Jordane', 0.2)

0.2

Note that it did not add Jordane to our dictionary. If we wish to do so, we could use `d.setdefault()`

In [74]:
print(dictionary_morality)

dictionary_morality.setdefault('Jordane', 0.2)
print(dictionary_morality)

{'Florence': 0.3, 'Julia': 0.5, 'Ale': 0.4}
{'Florence': 0.3, 'Julia': 0.5, 'Ale': 0.4, 'Jordane': 0.2}

Note that `d.setdefault()` also allows to get the value associated with a key.

In [75]:
dictionary_morality.setdefault('Jordane')

0.2

Hence, you should think about what behavior you want when you attempt to get a value out of a dictionary by key. Do you want an error when the key is missing? Then use indexing. Do you want to have a (possibly `None`) default if the key is missing and no error? Then use `get()`. Or do you want to create a new entry entry to your dictionary when the key is missing? Then use `setdefault()`.

Note that if the key already exists, `setdefault()` does not modify its value:

In [76]:
dictionary_morality.setdefault('Jordane', 0.3)
dictionary_morality

{'Florence': 0.3, 'Julia': 0.5, 'Ale': 0.4, 'Jordane': 0.2}

Instead you can update values - or add a new entry - with `d.update()`. Notice the syntax, the argument should be a dictionary (or an iterable object with key value pairs). That being said, I recommend using indexing: it is simpler, and apparently faster than `update()`

In [77]:
dictionary_morality.update({'Jordane': 0.25})   # Add Jordane to dictionary
print(dictionary_morality)

dictionary_morality.popitem()                   # Removed the last inserted key-value pair: bye-bye again Jordane
print(dictionary_morality)

dictionary_morality['Jordane']=0.25             # Add Jordane to dictionary
print(dictionary_morality)

{'Florence': 0.3, 'Julia': 0.5, 'Ale': 0.4, 'Jordane': 0.25}
{'Florence': 0.3, 'Julia': 0.5, 'Ale': 0.4}
{'Florence': 0.3, 'Julia': 0.5, 'Ale': 0.4, 'Jordane': 0.25}

#### Check if a key belongs to a dictionary <a name="dico-check"></a>

To know if a key is in an dictionary, we can use the `in` and `not in` operators:

In [78]:
'Ale' in dictionary_morality

True

In [79]:
'Edoardo' in dictionary_morality

False

In [80]:
'Quentin' not in dictionary_morality

True

### Merging dictionaries <a name="dico-merge"></a>

Suppose we want to merge two dictionaries together. Remember how we merged two lists? Or two strings? That's right, we use the `+`operator. Let's try the same with dictionary:

In [81]:
dico_moral_1 = {'Florence': 0.3, 'Julia': 0.5} 
dico_moral_2 = {'Ale': 0.4, 'Jordane': 0.25}

dico_moral_1 + dico_moral_2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

Ouch, it does not work for dictionaries. Fortunately, there is a simple way to merge dictionaries using the `dict()` function and the `**` operator:

In [82]:
dict(**dico_moral_1, **dico_moral_2)

{'Florence': 0.3, 'Julia': 0.5, 'Ale': 0.4, 'Jordane': 0.25}

Alternatively, using curly braces:

In [83]:
{**dico_moral_1, **dico_moral_2}

{'Florence': 0.3, 'Julia': 0.5, 'Ale': 0.4, 'Jordane': 0.25}

Let's pause a minute and discuss the `**` operator. Do you remember above, we used the unpacking operator `*` to split a tuple inside a function? Here is an example:

In [84]:
print((1,2,3))
print(*(1,2,3))

(1, 2, 3)
1 2 3

Note that the `*` operator works on any kind of iterable. For example, strings or lists:

In [85]:
print(*'123')
print(*[1,2,3])

1 2 3
1 2 3

However, if we apply `*` on a dictionary, we would only unpack the keys:

In [86]:
print(*dico_moral_1)
print({*dico_moral_1, *dico_moral_2})

Florence Julia
{'Ale', 'Julia', 'Florence', 'Jordane'}

Hence, we need to get to the next level. That's the `**` operator. It is also an unpacking operator, but for dictionaries!